.list-group-item {
  line-height: 2.5;
}

#profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#line{
  margin-top: 1em;
  margin-bottom: 1em;
}

#Bio{
  text-align: center;
}

.titleInfo{
  text-align: center;
}

.navbar-nav {
  flex-direction: row;
 }

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

#profile2{
  border-radius: 50%;
}
#skillsContainer {
  background-image: url("../images/graphic.png");
}
